/*custom Styling*/
.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 60px;
}



/*Custom datatabel*/

.dataTableImg {
	width: 100px;
	height: 100px;
}

/* custom footer */
.site-footer {
	background-color: black;
	color: white;
	margin-top: 10px;
	padding-top: 10px;
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 50px;
}

.footer-nav {
	text-align: right;
	list-style: none;
	
}

.footer-nav li {
	display: inline;
	Sangeetha-BalaKrishnan
}

a:hover {
	color: white;
	text-decoration: none;
}

em{
	color:Red;
	size:14px;
}