/*custom Styling*/
.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 60px;
}

.foot {
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 60px;
}

//
Custom datatabel

.dataTableImg {
	width: 100px;
	height: 100px;
}

//
custom footer
.site-footer {
	background-color: black;
	color: white;
	margin-top: 10px;
	padding-top: 10px;
}

.footer-nav {
	text-align: right;
	list-style: none;
	margin-top: 10px;
}

.footer-nav li {
	display: inline;
	padding: 0px 10px;
}

a:hover {
	color: white;
	text-decoration: none;
}

.help-block {
	color: #ff0000;
}